body {
  background: #ddffd5;
}

.container {
  width: 1200px;
  background: white;
  padding: 50px;
  text-align: center;
}

.container > title {
  width: 100%;
  font-family: 'Arvo', serif;
  color: #A330BA;
  text-align: center;
}

.title > img {
  display: block;
  margin: 0 auto 70px auto;
}

.pred {
  color: #27531c;
}
